
*.svn-base

assets/icons/.svn/all-wcprops

assets/icons/.svn/entries

assets/fonts/.svn/all-wcprops

assets/fonts/.svn/entries

*.scssc

assets/css/.svn/entries

assets/css/.svn/dir-prop-base

assets/css/.svn/all-wcprops

assets/.svn/entries

assets/.svn/all-wcprops
.idea/
