.button {
    display: inline-block;
    width: auto;
    height: 30px;
    @extend %box-sizing;
    line-height: 32px;
    @include font-size(1.5);
    text-transform: uppercase;
    padding: 0 10px;
    background: $mid-grey;
    @include border-radius-all(4px);
    @extend %source-sans-semibold;
    color: $not-black;
    text-decoration: none;

    border: none;
    border-top: 1px solid lighten($mid-grey, 10%);
    border-bottom: 1px solid $dark-grey;

    &:hover {
        cursor: pointer;
        background: lighten($mid-grey, 10%);
        border-top: 1px solid lighten($mid-grey, 20%);
        border-bottom: 1px solid lighten($dark-grey, 10%);
        @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    }

    &:active {
        cursor: pointer;
        background: darken($mid-grey, 10%);
        border-top: 1px solid darken($dark-grey, 20%); //lighten($dark-grey, 10%);
        border-bottom: 1px solid $mid-grey;
        @include box-shadow(0 0 0 rgba(0, 0, 0, 0.0));
    }

    &:focus {
        outline: 0;
    }

    &:disabled,
    &[disabled=disabled] {
        opacity: 0.4;

        &:hover,
        &:active {
            cursor: default;
            background: $mid-grey;
            border-top: 1px solid lighten($mid-grey, 10%);
            border-bottom: 1px solid darken($mid-grey, 15%);
            @include box-shadow(0 0 0 rgba(0, 0, 0, 0.0));
        }
    }

    $dark-button: #4a4a4c;

    &.dark-button {
        background: $dark-button;
        color: $mid-grey;
        border-top: 1px solid lighten($dark-button, 10%);
        border-bottom: 1px solid darken($dark-button, 15%);

        &:hover {
            background: lighten($dark-button, 5%);
            border-top: 1px solid lighten($dark-button, 20%);
            border-bottom: 1px solid darken($dark-button, 20%);
            @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
        }

        &:active {
            background: darken($dark-button, 18%);
            border-top: 1px solid darken($dark-button, 25%);
            border-bottom: 1px solid lighten($dark-button, 5%);
            @include box-shadow(0 0 0 rgba(0, 0, 0, 0.0));
        }

        &:disabled,
        &[disabled=disabled] {
            opacity: 0.4;

            &:hover,
            &:active {
                cursor: default;
                background: $dark-button;
                border-top: 1px solid lighten($dark-button, 10%);
                border-bottom: 1px solid darken($dark-button, 15%);
                @include box-shadow(0 0 0 rgba(0, 0, 0, 0.0));
            }
        }
    }

    &.light-button {
        background: lighten($light-grey, 5%);
        color: $not-black;
        border-top: 1px solid #fff;
        border-bottom: 1px solid darken($light-grey, 25%);

        &:hover {
            background: lighten($light-grey, 15%);
            border-top: 1px solid #fff;
            border-bottom: 1px solid darken($light-grey, 30%);
            @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
        }

        &:active {
            background: darken($light-grey, 18%);
            border-top: 1px solid darken($light-grey, 25%);
            border-bottom: 1px solid lighten($light-grey, 5%);
            @include box-shadow(0 0 0 rgba(0, 0, 0, 0.0));
        }

        &.selected-button {
            background: $dark-cyan;
            border-top: 1px solid darken($dark-cyan, 25%);
            border-bottom: 1px solid lighten($dark-cyan, 5%);
            @include box-shadow(0 0 0 rgba(0, 0, 0, 0.0));
            color: #fff;
        }

        &:disabled,
        &[disabled=disabled] {
            opacity: 0.4;

            &:hover,
            &:active {
                cursor: default;
                background: lighten($light-grey, 5%);
                border-top: 1px solid #fff;
                border-bottom: 1px solid darken($light-grey, 25%);
                @include box-shadow(0 0 0 rgba(0, 0, 0, 0.0));
            }
        }
    }
}